.item {
    
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
     margin-left: 10px;
    margin-right: 10px;
}

.nav {
    display: flex;
    justify-content: center;
   
}