.red{
    background-color: red;
    height: 100px;
    
}

.blue{
    background-color: blue;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.green{
    background-color: green;
    height: 100px;
}