body {
    margin: 20px;
}


.image{ 
    width: 140px;
}

.card {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.second-card {
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.border2 {
    border: 2px dotted red;
    margin: 20px;
}