body {
    margin: 20px;
}



.card {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 500px;
    border-bottom: 5px solid #d90368;
    background-color: #ffccd5;
}

.second-card {
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0496ff;
    padding: 10px 10px 10px 10px;
}

.sps {
    padding-bottom: 10px;
}